a {
    text-decoration: none;
    cursor: default;
}



body {
    color: $primary-text;
    background-color: #ffffff;
    font-family: roboto, sans-serif;
    letter-spacing: 0.03em;
}


ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style: none;
}

p {
    display: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.conteiner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    
        max-width: 480px;
    

    @media screen and (min-width: 768px) {
            max-width: 768px;
        }

    @media screen and (min-width: 1200px) {
            max-width: 1200px;
        }

}


.section {
    padding-top: 94px;
    padding-bottom: 94px;
}