
.section-header {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    border-bottom: 1px solid #ECECEC;
}

.container-header {
    @media screen and (min-width: 480px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
            align-items: center;
            justify-content: space-between;
    }
    
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
    }
    
}

.logo {
    @media screen and (min-width: 480px) {
        padding-top: 16px;
        padding-bottom: 16px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: #2196F3;
    }

    @media screen and (min-width: 768px) {
        padding-top: 26px;
        padding-bottom: 26px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: #2196F3;
        }
    
    @media screen and (min-width: 1200px) {
        padding-top: 24px;
        padding-bottom: 25px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: #2196F3;
    }
    

}

.header-logo {
    color: $title-text;
    margin-left: 0;
    padding-left: 0;
}

.navigation__ul {
    @media screen and (min-width: 480px){
        display: none;
    }
    
    @media screen and (min-width: 768px) {
        display: flex;
        
        margin-bottom: 0;
        margin-top: 0;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        padding-left: 93px;
        margin-bottom: 0;
        margin-top: 0;
    }
    

}

.navigation__list+.navigation__list {
    margin-left: 50px;
}

.navigation__link {
    padding-top: 32px;
    display: block;
    color: $title-text;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            color: $accent-color;
        }
}



.contacts {
    @media screen and (min-width: 480px) {
        display: none;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: block;
        
        
        & .contacts__li {
            margin-left: 0;
            + .contacts__li {
                padding-top: 10px;
            }
        }
        & .contacts__link {
            padding: 0;
            width: 123px;
        }
        & .contacts__image {
            margin-right: 8px;
        }
    }
    
    @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: auto;
        margin-bottom: 0;
        padding-left: 0;
        margin-top: 0;
    }
   
}

.contacts__li {
    margin-left: 50px;

}

.contacts__link {
    min-width: 142px;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $primary-text;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
            fill: $accent-color;
            color: $accent-color;
        }
}



.contacts__image {
    margin-right: 10px;
    fill: currentColor;
}

.button-header {
    @media screen and (min-width: 480px) {
        display: flex;
        background-color: #ffffff;
        border: none;
        cursor: pointer;
        padding: 0;
        & .button-header__image:hover {
            fill: $accent-color;
        }
    }

    @media screen and (min-width: 768px){
        display: none;
    }

    @media screen and (min-width: 1200px) {
        display: none;
        
    }
    
}

.current {
    color: $accent-color;
}

.current::after {
    @media screen and (min-width: 480px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }

    @media screen and (min-width: 1200px) {
        content: "";
        background-image: url(../image/hover.svg);
        margin-top: 28px;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
    }
    
}

.mobile-menu__backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #0000001A;
    transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibilitty 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &.is-hidden {
            visibility: hidden;
            opacity: 0;
            pointer-events: none;}
    &.mobile-menu__conteiner {
            transform: translate(-50%, -50%) scale(1.1, 1)
        }
}

.mobile-menu__conteiner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 100%;
    padding: 48px 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.menu-closed {
    display: flex;
    position: absolute;
    top: 10px;
    right: 15px;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: none;    
    cursor: pointer;
    padding: 6px;
}

.menu-navigation {
    display: block;
    
}

.menu-navigation__list + .menu-navigation__list {
    margin-top: 32px;
}

.menu-navigation__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $title-text;
}

.current {
    color: $accent-color;
}

.menu-contacts {
    margin-top: 302px;
}

.menu-contacts__li + .menu-contacts__li {
    padding-top: 32px;
}

.menu-contacts__link {
    display: inline-block;
    color: $primary-text;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
}

.tel {
    
    color: $accent-color;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
}
