.section-main {
    
        background-image: linear-gradient(to right,
        #2F303A66, rgba(47, 48, 58, 0.4)), url(../image/Headerimg.jpg);
        width: 100%;
        padding: 118px 60px;
    

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(to right,
        #2F303A66, rgba(47, 48, 58, 0.4)), url(../image/Img.jpg);
        text-align: center;
        padding: 118px 204px;
        width: 100%;
        
    }
    
    @media screen and (min-width: 1200px) {
        background-image: linear-gradient(to right,
        #2F303A66, rgba(47, 48, 58, 0.4)), url(../image/Img.jpg);
        text-align: center;
        padding-top: 200px;
        padding-bottom: 200px;
        width: 100%;
    }
    

}

    .conteiner-hero {
       
        display: flex;
        flex-wrap: wrap;
        
        
        @media screen and (min-width: 1200px) {
            display: block;
        }
    }


.hero__title {
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
    

    
    @media screen and (min-width: 1200px) {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        color: #FFFFFF;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        width: 696px;
    }
    

}

.hero__button {
    display: inline-block;
    cursor: pointer;
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
    min-width: 136px;
    color: #FFFFFF;
    background-color: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    border: 0;
    border-radius: 4px;

}